include LICENSE
include .editorconfig
include .gitattributes
include .gitignore
recursive-include .github *.yml
recursive-include docs *.md
recursive-include examples *.html *.json *.md *.py *.txt *.yml
recursive-include scripts *.py
recursive-include tests *.py
recursive-include src/capagap/importers *.tmpl
recursive-include src/capagap/assets *.css *.js
recursive-include src/capagap/demo_data *.json
